<template>
<div id="home">
    <div class="container">
        <h2>Now Playing</h2>
        <hr><br>
            <div class="row row-cols-4">
            <div class="col" v-for="(data, index) in movies" :key="index">
              <a  @click="goToDetail(data.id)">
                <div class="image-area">
                    <img :src="data.image" class="image">
                </div>
                <div class="content-area">
                    <h4>{{ data.title}} ({{data.release}})</h4>
                </div>
                <span class="movie-label"><img :src="data.rating"></span>
              </a>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      title: 'Home',
      movies: [
        {
          title: 'Riki Rhino',
          image: require('../assets/3.jpg'),
          duration: '92 minutes',
          director: 'Erwin Budiono',
          release: 2020,
          desc: 'Riki adalah Badak Sumatera muda yang kehilangan culanya, setelah diambil oleh pemburu Mr. Jak. Untuk mendapatkan kembali cula yang telah dicuri, Riki memulai petualangan seru bersama Beni.',
          id: 1,
          rating: 'https://21cineplex.com//theme/v5/assets/img/icons/labels/su.png'
        },
        {
          title: 'The Invisible Man (IMAX 2D)',
          image: require('../assets/1.jpg'),
          duration: '124 minutes',
          director: 'Leigh Whannell',
          release: 2020,
          desc: 'Cecilia Kass (Elisabeth Moss) tidak pernah percaya bahwa mantan kekasihnya yang tempramental bunuh diri dan meninggalkan warisan kepadanya.',
          id: 2,
          rating: 'https://21cineplex.com//theme/v5/assets/img/icons/labels/d17.png'
        },
        {
          title: 'The Invisible Man',
          image: require('../assets/2.jpg'),
          duration: '124 minutes',
          director: 'Leigh Whannell',
          release: 2020,
          desc: 'Cecilia Kass (Elisabeth Moss) tidak pernah percaya bahwa mantan kekasihnya yang tempramental bunuh diri dan meninggalkan warisan kepadanya.',
          id: 3,
          rating: 'https://21cineplex.com//theme/v5/assets/img/icons/labels/d17.png'
        },
        {
          title: 'Sonic the Hedgehog',
          image: require('../assets/4.jpg'),
          duration: '99 minutes',
          director: 'Jeff Fowler',
          release: 2020,
          desc: 'Setelah menemukan landak kecil berwarna biru dan berlari sangat cepat, Tom Wachowski (James Marsden) seorang perwira polisi kota kecil harus membantunya mengalahkan Dr. Ivo Robotnik (Jim Carrey) yang ingin melakukan percobaan kepada landak tersebut.',
          id: 4,
          rating: 'https://21cineplex.com//theme/v5/assets/img/icons/labels/su.png'
        }
      ]
    }
  },
  methods: {
    goToDetail (proId) {
      this.$router.push({ name: 'detail', params: { Pid: proId } })
    }
  }
}

</script>

<style>
.container
{
    margin-top: 2%;
}
.font-text
{
    font-size: 9pt;
    margin: 10px 0;
}
.image-area
{
    width: 200px;
    height: 300px;
    text-align: center;
}
.image{
    width: 200px;
    height: 300px;
}
.movie-label {
    display: inline-block;
    bottom: 22px;
    width: 42px;
    left: 0;
    right: 0;
    margin: auto;
}
.content-area
{
    margin: 10px 0;
    height: 20%;
}
</style>
